XEP-0423 XMPP Compliance Suites 2020

A tracking ticket for tracking of our compliance status. Dedicated tickets will be created for each feature that's not implemented.

Core client features
=============

Core Compliance Suite
-------------------------

- [ ] RFC-6120 core features
- [ ] RFC-7590 TLS
- [ ] Service Discovery (XEP-0030)
- [ ] Entity Capabilities (XEP-0115)

Web Compliance Suite
-------------------------

- [ ] RFC 7395
- [ ] XMPP Over BOSH (XEP-0206)
- [ ] BOSH (XEP-0124)

IM Compliance Suite
-----------------------

- [ ] RFC 6121
- [ ] The /me Command (XEP-0245)
- [ ] vcard-temp (XEP-0054)
- [ ] Message Carbons (XEP-0280)
- [ ] Multi-User Chat (XEP-0045) 
- [ ] Direct MUC Invitations (XEP-0249)
- [ ] HTTP File Upload (XEP-0363)

Mobile Compliance Suite
----------------------------

- [ ] Stream Management (XEP-0198)
- [ ] Client State Indication (XEP-0352)

Advanced client features
================

Core Compliance Suite
-------------------------

- [ ] SRV records for XMPP over TLS (XEP-0368)
- [ ] Personal Eventing Protocol (XEP-0163)

Web Compliance suite
-------------------------

- [ ] Discovering Alternative XMPP Connection Methods (XEP-0156)

IM Compliance suite
-----------------------

- [ ] User Avatar (XEP-0084)
- [ ]User Avatar to vCard-Based Avatars Conversion (XEP-0398) 
- [ ] vCard-Based Avatars (XEP-0153)
- [ ] Blocking Command (XEP-0191)
- [ ] Bookmark Storage (XEP-0048)
- [ ] Message Archive Management (XEP-0313)
- [ ] MUC Self-Ping (Schrödinger's Chat) (XEP-0410)
- [ ] Bookmarks Conversion (XEP-0411)
- [ ] Best Practices for Persistent Storage of Private Data via Publish-Subscribe (XEP-0223)
- [ ] Private XML Storage (XEP-0049)
- [ ] Stream Management (XEP-0198)
- [ ] Message Delivery Receipts (XEP-0184)
- [ ] Message Archive Management (XEP-0313)
- [ ] Chat State Notifications (XEP-0085)
- [ ] Last Message Correction (XEP-0308)
- [ ] Jingle File Transfer (XEP-0234)
- [ ] Jingle In-Band Bytestreams Transport Method (XEP-0261)

Mobile Compliance Suite
----------------------------

- [ ] Push Notifications (XEP-0357)

Future development
=============

Client connection optimizations: 
-----------------------------------

- [ ] Bind 2.0 (XEP-0386) 
- [ ] IM Routing-NG (XEP-0409)
- [ ] Instant Stream Resumption (XEP-0397)

- [ ] Chat Markers (XEP-0333)
- [ ] Mediated Information eXchange (MIX) (XEP-0369)

End-to-End Encryption (E2EE):
---------------------------------

- [ ] Explicit Message Encryption (XEP-0380) for tagging encrypted messages,
- [ ] Stanza Content Encryption (XEP-0420) to protect all payloads;
- [ ] OMEMO Encryption (XEP-0384)
- [ ] Jingle Encrypted Transports - OMEMO (XEP-0396)
- [ ] OpenPGP for XMPP Instant Messaging (XEP-0374)

- [ ] Bookmarks 2 (This Time it's Serious) (XEP-0402) [65] to phase out Bookmark Storage (XEP-0048) [45], Private XML Storage (XEP-0049) [50], and Bookmarks Conversion (XEP-0411) [14]
- [ ] Component Connections (XEP-0225) [66] to phase out Jabber Component Protocol (XEP-0114) [24]
- [ ] Entity Capabilities 2.0 (XEP-0390) [67] to phase out Entity Capabilities (XEP-0115) [23]

A good ticket, thanks :)

@pulkomandy: About SCRAM supports, I do not find informations, can you inform me?

It seems to be handled in gloox since version 1.0.8, and used by default if the server advertises support for it. I don't think we need to do anything more in the client?